**/Makefile
**/Makefile.in
**/.deps/
**/.libs/
**/*.o
**/*.lo
**/*.la
**/*.swp
**/compile
**/config.guess
**/config.h
**/config.h.in
**/config.log
**/config.status
**/config.sub
**/configure
**/depcomp
**/install-sh
**/libtool
**/ltmain.sh
**/missing
**/*.cache/
**/aclocal.m4
**/stamp-h1
**/test-driver
**/axis2c.pc
**/axis2_http_server
tools/md5/src/md5
tools/tcpmon/src/tcpmon
GPATH
GRTAGS
GTAGS
