**/Makefile
**/Makefile.in
**/.deps/
**/.libs/
**/*.o
**/*.lo
**/*.la
**/*.swp
**/compile
**/config.guess
**/config.h
**/config.h.in
**/config.log
**/config.status
**/config.sub
**/configure
**/depcomp
**/install-sh
**/libtool
**/ltmain.sh
**/missing
**/*.cache/
**/aclocal.m4
**/stamp-h1
**/test-driver
**/axis2c.pc
**/axis2_http_server
tools/md5/src/md5
tools/tcpmon/src/tcpmon
GPATH
GRTAGS
GTAGS
util/test/util/test_util
util/test/util/test_thread
util/test/allocator/allocator_test
util/test/date_time/date_time_test
util/test/duration/duration_test
util/test/link_list/link_list_test
util/test/properties/property_test
util/test/rand/rand_test
util/test/stack/stack_test
util/test/string_util/string_util_test
util/test/uri/uri_test
util/test/url/url_test
util/test/utils/utils_test
axiom/test/om/test_om
axiom/test/soap/test_soap
axis2.log
axiom/test/util/axiom
axiom/test/xpath/test_xpath
axiom/test/xpath/test_xpath_streaming
test/core/addr/test_addr
test/core/clientapi/test_client
test/core/clientapi/test_clientapi
test/core/clientapi/test_svc_client_handler_count
test/core/context/test_context
test/core/deployment/test_deployment
test/core/description/test_description
test/core/engine/test_engine
test/core/transport/http/test_http_transport
deploy/
samples/client/amqp/echo/echo_blocking
samples/client/amqp/echo/echo_blocking_addr
samples/client/amqp/echo/echo_blocking_dual
samples/client/amqp/echo/echo_blocking_soap11
samples/client/amqp/echo/echo_non_blocking
samples/client/amqp/echo/echo_non_blocking_dual
samples/client/amqp/mtom/mtom
samples/client/amqp/notify/notify
samples/client/echo/echo
samples/client/google/google
samples/client/math/math
samples/client/mtom/mtom
samples/client/mtom_callback/mtom_callback
samples/client/notify/notify
samples/client/version/version
samples/client/yahoo/yahoosearch
samples/user_guide/clients/echo_blocking
samples/user_guide/clients/echo_blocking_addr
samples/user_guide/clients/echo_blocking_auth
samples/user_guide/clients/echo_blocking_dual
samples/user_guide/clients/echo_blocking_soap11
samples/user_guide/clients/echo_non_blocking
samples/user_guide/clients/echo_non_blocking_dual
samples/user_guide/clients/echo_rest
